
@{
    ViewBag.Title = "字体规范 by @Lue";
    Layout = "~/Views/Layout/_LayoutNOT.cshtml";
}

<div class="well">
    <img src="~/Content/images/test.png" style="width:100%;" />
</div>


<div class="panel panel-default">
    <div class="panel-heading">多功能</div>
    <div class="panel-body">
        <textarea class="form-control" rows="3"></textarea>
        <br />
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                选择字体
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">伯乐童年体</a></li>
                <li><a href="#">伯乐童年体</a></li>
                <li><a href="#">伯乐童年体</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">伯乐童年体</a></li>
            </ul>
            <button type="button" class="btn btn-default">临摹字体</button>
        </div>
    </div>
</div>


<br /><br /><br /><br />

