
@{
    ViewBag.Title = "小工具 · 未来已来，只是还未流行";
    ViewBag.ExploringRoom = "active";
    Layout = "~/Views/Layout/_LayoutHome.cshtml";
}
@section StyleHead{
    <style>
        .skill1-top {
            background: url('https://land.xiaomi.net/shuidi/acdce4158260de9f22fa03e19eb6e1bd.png');
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 140px;
        }

        .skill-bottom {
            width: 300px;
            height: 200px;
            background: #fff;
            box-shadow: 0 2px 14px 0 rgba(212,222,228,.5);
            padding: 20px 25px;
        }

            .skill-bottom p {
                line-height: 24px;
                color: #89909a;
                font-size: 14px;
                line-height: 25px;
                margin-bottom: 25px;
            }
    </style>
}
<div class="row">

    <div class="col-sm-6 col-md-4 col-lg-3 ">
        <div class="thumbnail" style="height: 336px;">
            <a href="/ExploringRoom/CopyWorld" title="字体 临摹" target="_blank" onclick="">
                <img class="lazy" src="~/Content/images/font.png"  alt="字体 临摹" style="width:100%">
            </a>
            <div class="caption">
                <h3>
                    <a href="/ExploringRoom/CopyWorld" title="字体 临摹" target="_blank" >字体 临摹<br><small>by @@Lue</small></a>
                </h3>
                <p>每天过来练练字，字会越来越好！</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
        <div class="thumbnail" style="height: 336px;">
            <a href="/ExploringRoom/FavoritesMusic" title="我喜欢的 音乐" target="_blank" onclick="">
                <img class="lazy" src="~/Content/images/music.png" alt="我喜欢的 音乐" style="width:100%">
            </a>
            <div class="caption">
                <h3>
                    <a href="/ExploringRoom/FavoritesMusic" title="我喜欢的 音乐" target="_blank">我喜欢的 音乐<br><small>by @@Lue</small></a>
                </h3>
                <p>花在听音乐的时间越来越多了！</p>
            </div>
        </div>
    </div>
    @*<div class="col-sm-6 col-md-4 col-lg-3 ">
        <div class="thumbnail" style="height: 336px;">
            <a href="https://yarn.bootcss.com/" title="Yarn 中文文档" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'Yarn'])">
                <img class="lazy" src="https://static.bootcss.com/www/assets/img/yarn.png?1503034592571" data-src="https://static.bootcss.com/www/assets/img/yarn.png?1503034592571" alt="Yarn 中文文档" width="300" height="150">
            </a>
            <div class="caption">
                <h3>
                    <a href="https://yarn.bootcss.com/" title="Yarn 中文文档" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'Yarn'])">Yarn <br><small>中文手册</small></a>
                </h3>
                <p>Yarn 是一个快速、可靠、安全的依赖管理工具。是 NPM 的替代品。</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
        <div class="thumbnail" style="height: 336px;">
            <a href="https://react.bootcss.com/" title="React - 用于构建用户界面的 JavaScript 框架" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'react'])">
                <img class="lazy" src="https://static.bootcss.com/www/assets/img/react.png?1503034592571" data-src="https://static.bootcss.com/www/assets/img/react.png?1503034592571" alt="React - 用于构建用户界面的 JavaScript 框架" width="300" height="150">
            </a>
            <div class="caption">
                <h3>
                    <a href="https://react.bootcss.com/" title="React - 用于构建用户界面的 JavaScript 框架" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'react'])">React<br><small>用于构建用户界面</small></a>
                </h3>
                <p>React 起源于 Facebook 的内部项目，是一个用于构建用户界面的 JavaScript 库。</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
        <div class="thumbnail" style="height: 336px;">
            <a href="https://webpack.bootcss.com/" title="Webpack 是前端资源模块化管理和打包工具" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'webpack'])">
                <img class="lazy" src="https://static.bootcss.com/www/assets/img/webpack.png?1503034592571" data-src="https://static.bootcss.com/www/assets/img/webpack.png?1503034592571" alt="Webpack 是前端资源模块化管理和打包工具" width="300" height="150">
            </a>
            <div class="caption">
                <h3>
                    <a href="https://webpack.bootcss.com/" title="Webpack 是前端资源模块化管理和打包工具" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'webpack'])">Webpack<br><small>是前端资源模块化管理和打包工具</small></a>
                </h3>
                <p>Webpack 是当下最热门的前端资源模块化管理和打包工具。</p>
            </div>
        </div>
    </div>*@
  
</div>



