
@{
    ViewBag.Title = "小图 · 未来已来，只是还未流行";
    ViewBag.MinPicture = "active";
    Layout = "~/Views/Layout/_LayoutHome.cshtml";
}
@section StyleHead{
    <style>
    </style>
}
@section ScriptBody{}
<div class="row">
    <div class="col-md-12">
        <div class="fh5co-grid animate-box" id="pic2" style=" background-size:cover;">
            <a class="image-popup text-center" href="/MinPicture/Detail/0264F30D-288A-48F0-AB87-25196B928505">
                <div class="work-title">
                    <h3>曾经的追寻</h3>
                    <span>每周一更，等了8年</span>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-8">
        <div class="fh5co-grid animate-box" style="background-image: url(/Content/images/pic4.jpg); background-size:cover;">
            <a class="image-popup text-center" href="#">
                <div class="work-title">
                    <h3>冬天的阳光也甚好</h3>
                    <span>周末闲来无事，出去拍的，只是觉得这线条很直</span>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="fh5co-grid animate-box" style="background-image: url(/Content/images/pic5.jpg); background-size:cover;">
            <a class="image-popup text-center" href="#">
                <div class="work-title">
                    <h3>农村夏天“双抢”</h3>
                    <span>话说这个样子挺不错。</span>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-12">
        <div class="fh5co-grid animate-box" style="background-image: url(/Content/images/pic1.jpg); background-size:cover;">
            <a class="image-popup text-center" href="#">
                <div class="work-title">
                    <h3>冬天的树叶，是多彩的</h3>
                    <span>一颗树上树叶也可以同时有多种颜色</span>
                </div>
            </a>
        </div>
    </div>

</div>

