<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="SenseLueDBContext" connectionString="Server=.;Initial Catalog=SenseWorldDB;User ID=sa;Password=Lue89%C45716" providerName="System.Data.SqlClient" />-->
  <add name="SenseLueDBContext" connectionString="Server=.;Initial Catalog=SenseWorldDB;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
</connectionStrings>